<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="f" class="bean.Fruits">
		<!-- <property name="fruit">
			<list>
				<value>Mango</value>
				<value>Apple</value>
				<value>Banana</value>
				<value>Orange</value>
				<value>Pineapple</value>
			</list>
		</property> -->

		<property name="cc">
			<map>
				<entry key="India" value="Delhi" />
				<entry key="Pakistan" value="Islamabad" />
				<entry key="Bangladesh" value="Dhaka" />
			</map>
		</property>
	</bean>
</beans>        